*{
  box-sizing:border-box;
}
body{
  margin:0;
  display: flex;
  flex-wrap: wrap;
  font-family
}
header, footer, aside, main{
  padding: 1em;
}
header, footer{
  flex: 0 0 100%;
  background:#eee;
}
aside{
  flex: 1;
  background:#ddd;
}
main{
  flex: 3;
}
.left, .right{
  float:left;
  width:50%;
  background:#ccc;
  padding:1em;
  border:5px solid #aaa;
  margin:0;
}/*moved margin for image tag*/
img{
  max-width:100%;
  margin:0;
}

@media(max-width:600px){
  header{
    order: 1;
  }
  main{
    order: 2;
  }
  aside{
    order: 3;
  }
  footer{
    order: 4;
  }
  }
h1{
  margin:0;
}
h2{
  margin:0;
}
h3{
  margin:0;
}
p{
  margin:0;
}

}
