body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

header, footer, aside, .main {
  padding: 1em;
}

header, footer {
  flex: 0 0 100%;
  background: #eee;
}

aside {
  flex: 1;
  background: #ddd;
}

.main {
  flex: 3;
}

.left, .right {
  float: left;
  box-sizing: border-box;
  width: 50%;
  background: #ccc;
  padding: 1em;
  border: 5px solid #aaa;
}

img {
  max-width: 100%;
}

@media(max-width: 600px) {
  header {
    order: 1;
  }
  main {
    order: 2;
  }
  aside:nth-of-type(1) {
    order: 3;
  }
  aside:nth-of-type(2) {
    order: 4;
  }
  footer {
    order: 5;
  }
}
header > *, aside > *, .main > *, footer > * {
  margin: 0;
}