body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

header, footer, aside, .main {
  padding: 1em;
  margin: 0;
}

header, footer {
  flex: 0 0 100%;
  background: rgb(10, 7, 7);
}

aside {
  flex: 1;
  background: #ddd;
}

.main {
  flex: 3;
}

.left {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between; 
  width: 50%;
  background: #ccc;
  padding: 1em;
  border: 5px solid #aaa;
}

.right {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 50%;
  background: #ccc;
  padding: 1em;
  border: 5px solid #aaa;
}

img {
  max-width: 100%;
}

@media(max-width: 600px) {
  .main {
    background: red;
  }
}
