*{
  box-sizing:border-box;
}
body{
  margin:0;
  display: flex;
  flex-wrap: wrap;
  font-family
}
header, footer, aside, .main{
  padding: 1em;
}
header, footer{
  flex: 0 0 100%;
  background:#eee;
}
aside{
  flex: 1;
  background:#ddd;
}
.main{
  flex: 3;
}
.left, .right{
  float:left;
  width:50%;
  background:#ccc;
  padding:1em;
  border: 5px solid #aaa;
}
img {
  max-width:100%;
}
main {
  float:left;
  width:50%;
  background:#ccc;
  padding:1em;
  border: 5px solid #aaa;
}

@media(max-width:600px){
  .main{
    background:red;
  }
}
h1, h2, h3, p {
  margin: 0;
}
